* {
    box-sizing: border-box;
}

.first {
    background-color: #f1f1f1;
    width: 100%;
    height: 100vh;
    font-size: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.first>button{
    margin-top: 300px;
    margin-left: -100px;
    align-items: center;
}

.column {
    float: left;
    width: 33.30%;
    height: 100vh;
    background-color: bisque;
}