a:hover, li:hover{
    background-color: gray;
    color: red;
}
.menu>ul>li{
    display: inline-block;
    font-weight: 900;
    color: blue;
    height: 15px;
    padding: 15px;
    border: 1px solid blue;
    margin: 5px;
}
.menu>ul>li>a{
    text-decoration: none;
}