a:hover, li:hover{
    font-weight: 900;
    /*list-style-position: inside;*/
    /*text-decoration: none;*/
    background-color: red;
    border: 1px solid red;
    color: #f1f1f1;
}
li:hover a{
    color: #f1f1f1;
}
.menu>ul>li{
    /*display: inline-block;*/
    font-weight: 900;
    color: blue;
    width: 200px;
    height: 20px;
    padding: 15px;
    border: 1px solid blue;
    margin: 5px;
    list-style-type:none;
}
.menu>ul>li>a{
    text-decoration: none;
}